In [3]:
#PROJET 2 _ DS_Analysez des données de systèmes éducatifs

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
import scipy.stats as st

In [ ]:
#3 questions : 

#- Quels sont les pays avec un fort potentiel de clients pour nos services ?
#- Pour chacun de ces pays, quelle sera l’évolution de ce potentiel de clients ?
#- Dans quels pays l'entreprise doit-elle opérer en priorité ?

In [ ]:
#Pré-Analyse :

# I ) Valider la qualité de ce jeu de données -
# I ) - (comporte-t-il beaucoup de données manquantes, dupliquées ?)

# II) Décrire les informations contenues dans le jeu de données
# II)- (nombre de colonnes ? nombre de lignes ?)

# III) Sélectionner les informations qui semblent pertinentes pour répondre à la problématique
# III) - (quelles sont les colonnes contenant des informations qui peuvent être utiles pour répondre à la problématique de l’entreprise ?)

# IV) Déterminer des ordres de grandeurs des indicateurs statistiques classiques pour les différentes zones géographiques et pays du monde
# IV) -(moyenne/médiane/écart-type par pays et par continent ou bloc géographique)

In [ ]:
# Questions :Phases - 1) quelles sont les variables permettant de quantifier le potentiel 
#6d'un pays en vue d'un dévellopement commercial ? (Au moins 4 variables)

#Phase-2 : Qualités des données (inutiles de toutes les garder  / petit pays,données anciennes & prospective)
#S'assurer que l'ensemble des variables sélectionner le remplissage est complète pour la quasi-totalités des pays // filtre sur une population min permerttra de faire cela. 

#(BONUS)Etablir un score d'attractivité par pays.

In [7]:
#Jeu de donnée : EdStatsData
dataState = pd.read_csv('EdStatsData.csv')
dataState.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,...,2060,2065,2070,2075,2080,2085,2090,2095,2100,Unnamed: 69
0,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.F,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.GPI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.M,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arab World,ARB,"Adjusted net enrolment rate, primary, both sex...",SE.PRM.TENR,54.822121,54.894138,56.209438,57.267109,57.991138,59.36554,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
print("hello world")